.project-hero {
    background-color: #1a1614;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-hero .section-wrapper {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 100%;
}

.project-hero .section-wrapper .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.project-hero .section-wrapper .tags:before {
    content: "";
    height: 2px;
    width: 20px;
    display: block;
    background-color: var(--color-orange);
    margin-right: 10px;
    vertical-align:middle;
}

.project-hero .section-wrapper .tags span {
    color: var(--color-yellow);
    text-transform: uppercase;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.project-hero .section-wrapper .tags span:after {
    content: "·";
    margin-left: 10px;
    margin-right: 10px;
}

.project-hero .section-wrapper .tags span:last-of-type:after {
    display: none;
}

.project-hero .section-wrapper h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: clamp(32px, 5vw, 46px);
}

.project-hero .section-wrapper .back-home {
    color: var(--color-stone-gray);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}

.project-hero .section-wrapper .back-home:before {
    content: "←";
}

.project-hero .section-wrapper>p {
    color: var(--color-stone-gray);
    max-width: 630px;
}

.project-hero .section-wrapper .project-ctas {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 25px;
    font-size: 14px;
}

.project-hero .section-wrapper .project-ctas a {
    height: 45px;
    display: flex;
    align-items: center;
    min-width: 155px;
    justify-content: center;
    border-radius: 99px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.project-hero .section-wrapper .project-categories {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-hero .section-wrapper .project-categories span {
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: var(--color-yellow);
    border-radius: 99px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
    font-size: 12px;
}


.project-hero .section-wrapper .project-ctas .site {
    border: solid 1px var(--color-orange);
    background: var(--color-orange);
}

.project-hero .section-wrapper .project-ctas .github {
    border: solid 1px var(--color-stone-gray);
}