@media(max-width:1535px){
    body .tech-section .section-wrapper:before{
        display: none;
    }
}


@media(max-width:850px){
    body .tech-section .section-wrapper{
        flex-direction: column-reverse;
    }

    body .tech-section .section-wrapper > div{
        width: 100%;
    }
}

@media(max-width:765px){
    body .tech-section .section-wrapper{
        padding: 60px 15px;
    }
}

.tech-section {
    background-color: #fdf9f4;
}

.tech-section .section-wrapper:before {
    content: "Tech";
    position: absolute;
    left: -7%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(270deg);
    font-size: 120px;
    font-weight: bold;
    color: black;
}

.tech-section .section-wrapper {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap:30px;
    position: relative;
}

.tech-section .section-wrapper > div{
    width: 50%;
}


.tech-section .section-wrapper .generic-section-header .eyebrow {
    color: #ff5a1f;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tech-section .section-wrapper .generic-section-header .eyebrow:before{
    content:"";
    height: 1.5px;
    width: 25px;
    background-color:#ff5a1f;
    margin-right: 10px;
}

.tech-section .section-wrapper .generic-section-header h2{
    margin-top: 10px;
}
