@media(max-width:850px){
    body .tech-section .section-wrapper{
        flex-direction: column-reverse;
    }

    body .tech-section .section-wrapper > div{
        width: 100%;
    }
}

.tech-section {
    background-color: #fffaf5;
}

.tech-section .section-wrapper {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    gap:30px;
}

.tech-section .section-wrapper > div{
    width: 50%;
}

.tech-section .section-wrapper .generic-section-header .eyebrow {
    color: #ff5a1f;
    display: flex;
    align-items: center;
}

.tech-section .section-wrapper .generic-section-header .eyebrow:before{
    content:"";
    height: 1px;
    width: 25px;
    background-color:#ff5a1f;
    margin-right: 10px;
}

.tech-section .section-wrapper .generic-section-header h2{
    margin-top: 10px;
}